.performance {
  background: #f5fbfa;
  border-radius: 6px;
  padding: 1rem 1rem 1.1rem 1.3rem;
  box-shadow: 0 1px 3px rgba(30, 100, 90, 0.04);
  flex: 1;
}
.performance ul {
  margin: 0;
  padding-left: 1.1em;
  color: #27513d;
  font-size: 1rem;
}
.performance h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
