@use '../../app/styles/colors';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerStyle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid colors.$bg-white;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &.toCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
