.valuation {
  background: #f9f7fa;
  border-radius: 6px;
  padding: 1.1rem 1rem 1.2rem 1.3rem;
  box-shadow: 0 1px 3px rgba(80, 50, 120, 0.05);
}
.valuation ul {
  margin: 0;
  padding-left: 1.1em;
  color: #2b384b;
  font-size: 1rem;
}
.valuation h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
