@use '../../../styles/colors';

.financials {
  color: colors.$black;
  flex: 1;
  background: #f8fafc;
  border-radius: 6px;
  padding: 1.1rem 1rem 1.2rem 1.3rem;
  box-shadow: 0 1px 3px rgba(50, 50, 70, 0.05);
}
.financials ul {
  margin: 0;
  padding-left: 1.1em;
  color: #2b3a4a;
  font-size: 1rem;
}
.financials h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
