@use '../../../styles/colors';

.info {
  background: colors.$yellow;
  padding: 0 1.2rem 0 1.2rem;
  color: colors.$black;
  margin-bottom: 2rem;
  padding: 1rem;
  h2 {
    margin-bottom: 15px;
  }
}
.description {
  margin-bottom: 0.7rem;
}
.meta {
  color: #555;
  font-size: 0.95rem;
}
