@use '../../../styles/colors';

.header {
  background-color: colors.$black;
  border-bottom: 1px solid #eee;
  padding: 2rem 1.2rem 1rem 1.5rem;
  border-radius: 9px 9px 0 0;
  position: relative;
}

.symbol {
  font-size: 1rem;
}

.subinfo {
  display: flex;
  gap: 1.5rem;
  font-size: 0.97rem;
  margin-top: 0.5rem;
}
.subinfo a {
  color: #3366cc;
  text-decoration: underline;
}
