.ratings {
  background: #fff9f7;
  border-radius: 6px;
  padding: 1rem 1rem 1.1rem 1.3rem;
  box-shadow: 0 1px 3px rgba(150, 70, 40, 0.04);
  flex: 1;
}
.ratings ul {
  margin: 0;
  padding-left: 1.1em;
  color: #61412c;
  font-size: 1rem;
}
.ratings h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
